body {
    background-color: #8021de;
}

#flatiron-trivia-title {
    text-align: center;
    margin: auto;
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
    background-color: #f2d40f;
    border-radius: 25px;
    box-shadow: 5px 10px;
    block-size: 50px;
}

#creator-credit-panel {
    background-color: #FFE330;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px;
    width: 100%;
    font-weight: bolder;
    block-size: 40px;
    text-align: center;
}

.container{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-weight: 100px;
    block-size: 50px;
    display: flexbox;
}

#points {
    border-radius: 25px;
    background: #ffffff;
    width: 100px;
    height: 50px;
    opacity: 0.4;
}

#question-panel {
    background-color: #ffffff;
    padding-bottom: 100px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    opacity: 0.4;
    border-radius: 30px;
    width: 500px;
    height: 250px;
    margin: auto;
}

#answer-panel {
    width: 400px;
    height: 100px;
    padding-top: 50px;
    text-align: center;
    margin: auto;
    flex-direction: row;
    align-items: center;
}

#start-game {
    background-color: #d6b222;
    font-family: 'Fredoka One', cursive;
    font-size: x-large;
    width: 200px;
    height: 70px;
    border-radius: 25px;
    margin: auto;
}

.h2-question {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.answerBtn {
    width: 100px;
    height: 80px;
    text-align: center;
    background-color: #d6b222;
    border-radius: 30px;
    margin: auto;
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Varela Round', sans-serif;
}
